<div class="modal-header">
  <h4 class="modal-title">Save Filter for Search</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
{{test}}
  <ul>
    <li *ngFor="let element of realmembers">{{element.name}}</li>
  </ul>

  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="saveFilter()">Save</button>
</div>
