.saveFilterContainerStyle{
    height:25vh;
    overflow-y:scroll;
}

.usernameList{
    height:35vh;
    overflow-y:scroll;
}

.btn-primary{
    background-color:#337ab7;
}

.filterButtons{
    font-size:0.75em;
}