<div class="modal-header">
  <h4 class="modal-title">Save Filter</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-9">
      <label class="col-sm-3">
        Filter
      </label>
      <input type="text" class="col-sm-9" placehoder="Filter..." name="filterName" [(ngModel)]="filterName" (ngModelChange)="trySearch()">
    </div>
    <div class="col-sm-3">
      <label class="checkbox-inline right">
        <input type="checkbox" name="isDefault" [(ngModel)]="isDefault">
        Default
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label class="checkbox-inline right" style="font-size:0.75em">
        <input type="checkbox" name="includeTeams" [(ngModel)]="includeTeams">
        Include Teams
      </label>
    </div>
    <div id="saveFilterUsernameContainer" class="col-sm-7 saveFilterContainerStyle">
      <button *ngFor="let user of membersToInclude; trackBy: QateIDfn" class="btn btn-primary btn-xs filterButtons"
        (click)="removeUserFromContainer(user)" id="btn_savedfiltermodal_usercontainer_{{user.QateID}}">{{user.QAEFullName}}</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary btn-xs" id="saveFilterClear" (click)="clearUserContainer()">Clear</button>
    </div>
  </div>

  <ul class="list-group usernameList">
    <li *ngFor="let user of allMembers; trackBy:QateIDfn" class="list-group-item" (click)="addUserToContainer(user)"
      id="li_savedfiltermodal_userlist_{{user.QateID}}">{{user.QAEFullName}}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="saveFilter()">Save</button>
</div>
