#topNavBar{
    padding:1%;
}

.navBarLabel{
    padding-right:2%;
}

.usernamecontainerstyle{
    height: 15vh;
    overflow:scroll;
    display:inline-block;
}

.filterButtons{
    display:inline-block; 
}

.filterButtons button{
    padding: 0.5% 3%;
}

/* .list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
} */
.page_at{
    width:25px;
    border-radius:30%;
    border-color:black;
    border-width:1px;
    margin: 3px 0px;
}
button{
    font-size:0.75em;
    background-color:#337ab7;
}

.pageButton{
    font-size:0.6em;
    background-color:#337ab7;
}

.searchUserStyle{
    width:100%;
}

.dropdown-local{
    position:absolute !important;
    top:38px;
    left:20px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.includeTeams{
    font-size:0.75vw;
    display:inline;
    padding-left:10px;
}

.dropdownRecall{
    top:25px;
    left:12px;
}