<nav class="navbar navbar-light bg-light justify-content-between" id="topNavBar">
  <h5>QA Gantt Chart</h5>
  <form class="form-inline">
    <label for="startDate"> <b>Start Date:</b></label>
    <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" class="form-control mx-sm-2">
    <label for="endDate"> <b>End Date:</b></label>
    <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" class="form-control mx-sm-2">
    <button class="btn btn-primary" id="search" (click)="searchChart()">Search</button>
    <button class="btn btn-primary mx-sm-2" id="snapToToday" (click)="this.ganttChild.snapToToday()">Snap to Today</button>
  </form>
  <button class="btn btn-primary float-right" id="logOut" (click)="logOut()">Log Out</button>
</nav>

<div id="topNavBar">
  <form id="filter" class="form-inline">
    <div class="row" style="width:80%;margin:auto">
      <div class="col-sm-3">
        <input type="text" placeholder="Search for users..." id="userInputField" (keypress)="spacePress($event)" name="searchfield"
          [(ngModel)]="searchfield" (ngModelChange)="trySearch()" class="form-control mx-sm-2 searchUserStyle">
        <a class="btn btn-primary dropdown-toggle" [hidden]="true" type="button" data-togle="dropdown">
          <span class="caret"></span>
        </a>
        <ul id="dropDownList" class="dropdown-menu list-group dropdown-local" [hidden]="!hasSearchResult" (blur)="removeUsers()">
          <li><a *ngFor="let user of this.userSearchReturn; trackBy:QateIDfn" (click)="addToUserContainer(user)" id="a_userdropdown_{{user.QateID}}"
              class="dropdown-item">{{user.QAEFullName}}</a></li>
        </ul>
        <label class="includeTeams">
          <input type="checkbox" name="includeTeams" [(ngModel)]="includeTeams" id="includeTeams">
          Include Teams
        </label>
      </div>
      <div id="usernamecontainer" class="col-sm-6 usernamecontainerstyle">
        <button *ngFor="let user of membersToInclude; trackBy: QateIDfn" class="btn btn-primary btn-xs" (click)="removeUserFromContainer(user)"
          id="btn_usersearch_{{user.QateID}}">{{user.QAEFullName}}</button>
      </div>
      <div class="col-sm-3 filterButtons">
        <button class="btn btn-primary btn-xs mr-sm-1" data-toggle="modal" data-target="#filterModals" id="save" (click)="openFilterModal();">
          Save
        </button>
        <button class="btn btn-primary btn-xs mr-sm-1" id="clear" (click)="clearUserContainer()">
          Clear
        </button>
        <button class="btn btn-primary btn-xs mr-sm-1" data-toggle="modal" data-target="#SearchfilterModal" id="search" (click)="openSearchFilterModal();">
          Search
        </button>
        <div ngbDropdown class="dropdown show filterButtons">
          <button ngbDropdownToggle class="btn btn-primary btn-xs mr-sm-1" role="button" id="recall" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Recall
          </button>
          <div ngbDropdownMenu class="dropdown-menu dropdownRecall" aria-labelledby="recall">
            <a *ngFor="let filter of savedFilters; trackBy: filterfn" (click)="recallFilter(filter)" id="a_recallfilter_{{filter.id}}_{{filter.filterName}}">
              <a type="button" class="close pull-left pr-2" aria-label="Close" (click)="deleteFilter(filter)">
                <span aria-hidden="true" id="span_deletefilter_{{filter.id}}_{{filter.filterName}}">&times;</span>
              </a>
              <span aria-hidden="true">&nbsp;&nbsp;</span>
              {{filter.filterName}}
              <span class="badge badge-primary badge-pill" [hidden]="filter.isDefault" id="span_defaultfilter_badge_{{filter.id}}">Default</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
  <form class="form-inline">
    <button class="btn btn-primary btn-sm pageButton mr-sm-1" (click)="getChartFirstPage()" [disabled]="(page==1 || page==0)" id="btn_nav_first">
      <b><<</b>
    </button>
    <button class="btn btn-primary btn-sm pageButton mr-sm-1" (click)="getChartPreviousPage()" [disabled]="(page==1 || page==0)" id="btn_nav_prev">
     <b><</b>
    </button>
    <label class="mr-sm-1">Page:</label>
    <input class="page_at mr-sm-1" type="text" [(ngModel)]="page" (ngModelChange)="goToPage()" name="page" id="text_page_at" />
    <label class="mr-sm-1">of</label>
    <label class="mr-sm-1">{{totalPages}}&nbsp;</label>
    <button class="btn btn-primary btn-sm pageButton mr-sm-1" (click)="getChartNextPage()" [disabled]="(page==totalPages)" id="btn_nav_next">
      <b>></b>
    </button>
    <button class="btn btn-primary btn-sm pageButton mr-sm-1" (click)="getChartLastPage()" [disabled]="(page==totalPages)" id="btn_nav_last">
      <b>>></b>
    </button>
    <label class="mr-sm-1">Results Per Page:</label>
    <input class="page_at" type="text" [(ngModel)]="max" name="max" id="text_max_result" />
  </form>
</div>

<app-gantt></app-gantt>
