<form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="login-form">
  <h3>Login</h3>
  <div class="form-group">
    <label for="name">Username</label>
    <input type="text" id = "txt1" class="form-control" (change)="clearError()" formControlName="username" name="username" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id = "txt1" (change)="clearError()" class="form-control" formControlName="password" name="password" required>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

  <div id="loginFailedBanner" class="alert alert-danger failedLogin" *ngIf="failedLogin">
    Failed to Login
  </div>

  <!-- <div class="alert alert-danger failedLogin" *ngIf="(username.dirty || username.touched) && username.errors && username.errors.required">
    Username Required
  </div> -->

  <div class="alert alert-danger failedLogin" *ngIf="!failedLogin && (username.dirty || username.touched) && username.errors && username.errors.failedEmail">
    Invalid Username
  </div>
<!-- 
  <div class="alert alert-danger failedLogin" *ngIf="(password.dirty || password.touched) && password.errors">
    Password Required
  </div> -->

</form>
